<%= form_for @song do |f| %>
  <p>
    <%= f.label :song_name %>
    <%= f.text_field :song_name %>
  </p>
  <p>
    <%= f.label :band_name %>
    <%= f.text_field :band_name %>
  </p>
  <p>
    <%= f.submit 'Update song' %>
  </p>
<% end %>